.footer{
  width: 100%;
  padding: 15px 0 20px;
  background-color:#F4F5F7;
}
.horizonal-list{
  text-align: center;
}
.fa-twitter{
  color:#1DA1F2;
}
.horizonal-list .horizonal-item a{
  
}
.copyright{
  text-align: center;
}