<footer class="footer">
  <ul class="horizonal-list">
    <li class="horizonal-item">
      <a href="https://twitter.com/NnN02223409">
        <i class="fab fa-twitter"></i>制作者Twitter
      </a>
    </li>
  </ul>
  <p class="copyright">©︎ 2020 Honstagram from nakagawa</p>
</footer>