<div class="container">
  <div class="header-wrap">
      <div class="header-top">
        <ul>
          <% if user_signed_in? %>
          <li><%= link_to "マイページ", user_path(current_user.id) %>
          <% else %>
          <li><%= link_to "新規登録/ログイン", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
      <div class="search-header">
        <p>検索機能</p>
      </div>
  </div>
  
  <div class="main-wrap">
    <div class="main-contents">
      <div>
        キーワードから探す
      </div>
      <div>
        新着の投稿
      </div>      
    </div>
    <div class="right-side">
      <div>
        ピックアップ
      </div>
    </div>
  </div>
</div>