<div class="container">
  <div class="header-wrap">
      <div class="header-top">
        <ul>
          <li>新規登録/ログイン</li>
        </ul>
      </div>
      <div class="search-header">
        <p>検索機能</p>
      </div>
  </div>
  
  <div class="main-wrap">
    <div class="main-contents">
      <div>
        キーワードから探す
      </div>
      <div>
        新着の投稿
      </div>      
    </div>
    <div class="right-side">
      <div>
        ピックアップ
      </div>
    </div>
  </div>
</div>