<%= render "shared/header"%>

<div class="wrapper"> 
  <div class="main-wrap">
    <div class="main-contents">
      <div>
        ジャンルから探す
        <ul>
          <li><%= button_to "文芸・小説", "#" %></li>
        </ul>
      </div>
      <div>
        新着の投稿
        <% @new_books.map do |new_book| %>
          <ul>
            <li><%= link_to new_book.title, book_path(new_book.id) %></li>
          </ul>
        <% end %>
      </div>
    </div>
    <div class="right-side">
      <div>
        人気の投稿
      </div>
    </div>
  </div>
</div>