.book-wrapper{
  font-size: 62.5%;
  color: #333;
  
  width: 1140px;
  margin: 30px auto 40px;
  padding: 0 20px;
}

.book-wrapper .breadcrumb-area{
  margin: 10px 0 20px 20px;
  font-size: 1.0rem;
}
/* .clearfix::after{
  content: '';
  display: block;
  clear: both;
} */

/* メイン */
.book-main{
  width: 660px;
  display: block;
  float: left;
  font-size: 1.2rem;
}
.book-header{
  margin-bottom: 10px;
}
.book-header .book-image{
  float: left;
  width: 240px;
  height: 360px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
}
.book-header .book-info{
  float: right;
  width: 380px;
}
.book-info .item{
  margin-bottom: 15px;
}
.favorite-form{
  width: 125px;
  height: 30px;
}
.favorite-form:hover{
  border-bottom: 1px solid black;
}
.favorite-form .favorite-icon{
  color: #ff7373;
  height: 29px;
}
.favorite-form .favorite-btn{
  border: none;
  height: 29px;
  color:#ff7373;
  background-color: #fff;
}
.favorite-form .unfavorite-btn{
  border: none;
  height: 29px;
  color: #ff7373;
  background-color: #fff;
}
.book-info .review-link{
  width: 140px;
  border-bottom: 1px solid #ccc;
  line-height: 0.9;
}

.book-description{
  padding: 10px;
}
.book-description .description-header{
  border-bottom: 1px solid #ccc;
}

.book-description .book-user{
  display: flex;
  font-size: 1.0rem;
  border: 1px solid #ccc;
  padding: 10px;
}
.book-user .user-image{
  width: 100px;
  height: 100px;
}
.book-user .user-info{
  margin-left: 30px;
}
/* サイドメニュー */
.book-side-menu{
  width: 420px;
  float: right;
  background-color: #F4F5F7;
  padding: 10px;
}
.book-side-menu .recommend-header{
  width: 210px;
  margin: 0 auto 15px;
  text-align: center;
  line-height: 0.9;
  border-bottom: 1px solid #FF4F50;
}
.book-side-menu .recommend-list{
  margin-bottom: 30px;
  list-style: none;
  counter-reset: ranking;
}
.recommend-list .item{
  margin-top: 15px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.recommend-list .item a{
  display: block;
  font-size: 0;
}
.recommend-list .item a:hover{
  opacity: 0.8;
}
.recommend-list .book-image{
  height: 100px;
  width: 70px;
}
.recommend-list .recommend-text{
  display: inline-block;
  width: 310px;
  margin-left: 20px;
  color: #000;
  vertical-align: top;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.recommend-text .title{
  font-size: 1.0rem;
  margin-bottom: 5px;
}
.recommend-text .author{
  font-size: 0.8rem;
}

