.top-wrapper{
  /* フォントサイズを10pxに統一 */
  font-size: 62.5%;
  color: #333;
  
  width: 1120px;
  margin: 30px auto 40px;
}

/* メイン */
.main{
  width: 760px;
  display: block;
  float: left;
}
.topic{
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 4px 6px 4px -4px rgba(0, 0, 0, 0.15);
  transition: 0.15s;
}
.topic .topic-image{
  float: left;
  width: 380px;
  height: 300px;
}
.topic .topic-content{
  float: left;
  width: 380px;
  height: 300px;
  padding: 80px 25px 0;
}
.topic:hover{
  opacity: 0.85;
}
.topic .topic-content .text{
  margin-top: 20px;
  font-size: 12px;
}
.article-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article-header .toindex-btn{
  width: 150px;
  height: 30px;
  border: none;
  margin-right: 50px;
  font-size: 1.0rem;
  color: #fff;
  background-color: #FFB000;
  border-radius: 25px;
}
.articles .article-box{
  display: block;
  float: left;
  width: 160px;
  margin: 15px 15px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
  position: relative;
}
.articles .article-box
.book-image{
  width: 100%;
  height: 200px;
}
.articles .article-box
.title{
  font-size: 1.2rem;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.articles .article-box
.author{
  font-size: 0.9rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.articles .article-box
.date{
  width: 120px;
  padding: 4px;
  margin: 0 0 10px auto;
  background-color: #b5d264 ;
  color: #2d3d54;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 0.9rem;
}
.articles .article-box
.mask{
  width: 100%;
  height: 200px;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color:	rgba(0,0,0,0.3);
  -webkit-transition:	all 0.2s ease;
  transition:		all 0.2s ease;
  
}
.articles .article-box
.caption{
  color: #fff;
  font-size: 0.9rem;
  height: 200px;
  overflow: hidden;
}
.articles .article-box
.mask:hover{
  opacity: 1;
}
.genre-area{
  margin-top: 20px;
}

.genre-list .item{
  float: left;
  padding: 0 15px;
  font-size: 1.0rem;
  margin-bottom: 8px;
}
.genre-list .item + .item{
  border-left: 1px solid #bbb;
}
/* サイドメニュー */
.side-menu{
  width: 320px;
  float: right;
  background-color: #F4F5F7;
  padding: 10px;
}
.side-menu .ranking-header{
  margin: 0 auto 15px;
  text-align: center;
  width: 160px;
  line-height: 0.9;
  border-bottom: 1px solid #FF4F50;
}
.ranking-list{
  margin-bottom: 30px;
  list-style: none;
  counter-reset: ranking;
}
.ranking-list .item{
  margin-top: 15px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.ranking-list .item a{
  display: block;
  font-size: 0;
}
.ranking-list .item a:hover{
  opacity: 0.8;
}
.ranking-list .book-image{
  height: 100px;
  width: 70px;
}
.ranking-list .ranking-text{
  display: inline-block;
  width: 210px;
  margin-left: 20px;
  color: #000;
  vertical-align: top;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.ranking-text .title{
  font-size: 1.0rem;
  margin-bottom: 5px;
}
.ranking-text .author{
  font-size: 0.8rem;
}
.ranking-text .stars{
  font-size: 0.8rem;
}

.ranking-list .order{
  display: inline-block;
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border: 1px solid #ccc;
  color: #aaa;
  background-color: #fff;
  text-align: center;
  font-weight: bold;
  line-height: 22px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  left: 46px;
  /* ひし形 
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); */
}
.ranking-list .item:nth-of-type(1) 
.order,
.ranking-list .item:nth-of-type(2) 
.order,
.ranking-list .item:nth-of-type(3) 
.order{
  border: none;
  color: #fff;
  font-weight: normal;
  line-height: 24px;
}
.ranking-list .item:nth-of-type(1) 
.order{
  background-color: #dab413;
}
.ranking-list .item:nth-of-type(2) 
.order{
  background-color: #6e7b84;
}
.ranking-list .item:nth-of-type(3) 
.order{
  background-color: #a0541a;
}

.ranking-list .order::before{
  content: counter(ranking);
  counter-increment: ranking;
  display: inline-block;
  font-size: 1.0rem;
  /* -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); */
}
