/* もどる */
.book-info .back-link{
  width: 60px;
  border-bottom: 1px solid #ccc;
  line-height: 0.9;
}

.review-side-menu{
  width: 420px;
  float: right;
  padding: 10px;
  background-color: #F4F5F7;
}
.review-side-menu .review-header{
  width: 120px;
  text-align: center;
  margin: 0 auto 15px;
  line-height: 0.9;
  border-bottom: 1px solid #FF4F50;
}
.review-item{
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.review-item .user-image{
  width: 100px;
  height: 100px;
}

.review-item .review-info{
  margin-left: 20px;
  width: 260px;
}

/* レビュー作成ボタン */
#review-post-btn:hover{
  cursor: pointer;
}
.review-post-area{
  width: 300px;
  border: 1px solid #ccc;
  background-color: #F4F5F7;
  padding: 10px;
  bottom: 32px;
  right: 180px;
  position: fixed;
}

.review-field .text-area{
  width: 280px;
  padding: 5px;
  margin-bottom: 10px;
}