.user-wrapper{
  width: 1120px;

  margin: 30px auto 40px;
}

.user-wrapper .breadcrumb-area{
  margin: 10px 0 20px 20px;
}

/* .clearfix::after{
  content: '';
  display: block;
  clear: both;
} */

.user-main{
  width: 900px;
  margin: 0 auto;
}

.user-main .user-image{
  float: left;
  height: 200px;
  width: 200px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);
}
.user-main .user-info{
  float: right;
  width: 600px;
}

.user-info .user-name{
  display: flex;
}
.user-name .edit-btn{
  margin-left: 30px;
}
.follow-form .following-btn{
  margin-left: 30px;
  color: #fff;
  background-color: #1DA1F2;
  width: 120px;
  font-weight: bold;
  border: none;
  border-radius: 25px;
}
.follow-form .followed-btn{
  margin-left: 30px;
  color: #1DA1F2;
  background-color: #fff;
  width: 120px;
  font-weight: bold;
  border: 1px solid #1DA1F2;
  border-radius: 25px;
}

.user-info .info-list{
  display: flex;
  height: 20px;
}
.info-list .item{
  margin-left: 15px;
}
.info-list .item:hover{
  border-bottom: 1px solid black;
}

.user-article{
  border-top: 1px solid black;
  width: 950px;
  margin: 15px auto;
}